*{
    /* margin: 10px; */
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}

.logo {
    width: 70%;
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu ul{
    
    display: flex;
}
.menu ul li{
    list-style: none;
    margin: 20px;
    font-weight: 800;
    
}
.main {
    height: 800px;
    display: flex;
    background-color: crimson;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    
}

 .sidebar ul li{
     list-style: none;

 }

 .footer{
     height: px;
     background-color: darkgray;
     display: flex;
     justify-content: space-between;
     align-items: baseline;
     
 }


 @media screen and (max-width:575px){
     .logo{
         font-size: 2rem;
     }

     .main{
         height: 500px;
        display: flex;
        flex-direction: column;
    }

     .menu ul li{
        list-style: none;
        margin: 10px;
        font-weight: 800;
        
    }
    .main-content{
        height: 500px;
    }

    .rights{
        font-size: 1rem;
    }
 }

 @media screen and (max-width:447px){

    

    .logo{
        font-size: 1rem;
    }

    .menu ul li{
        font-size:.5rem ;
       list-style: none;
       margin: 5px;
       font-weight: 600;
       
   }
 }
 @media screen and (max-width:343px){
     .sidebar ul li {
         font-size: 11px;
     }
     footer{
         height: 200px;
     }
     